extends layout

block breadcrumb
  ul.uk-breadcrumb
    li
      a(href="/", uk-icon="icon: home", title="Home")
    li
      a(href="/about") About

block content

  h1 RS Translation Tools
  p Web application for finding translations for in-game data for the RuneScape game.
  p 
    | This tool is being maintained by 
    a(href="https://github.com/SandroHc", target="_blank") SandroHc
    | .