extends layout

block breadcrumb
  ul.uk-breadcrumb
    li
      a(href="/", uk-icon="icon: home", title="Home")
    li
      a(href="/dashboard") Dashboard

block content

  if alert
    div(uk-alert, class='uk-alert-' + alert)
      a.uk-alert-close(uk-close)
      p #{message}

  form.uk-form-horizontal(method='POST', action='/dashboard/import', enctype='multipart/form-data')

    .uk-margin
      div(uk-form-custom="target: true")
        input(id='files', name='files', type='file', multiple, accept='application/json')
        input.uk-input.uk-form-width-medium(type="text", placeholder="Select file", disabled)
      input.uk-button.uk-button-default(type='submit', value='Import')