extends layout

block content
  h1 Import

  if success
    span SUCCESS

  if error
    span ERROR #{error}

  form.uk-form-horizontal(method='POST', action='/import', enctype='multipart/form-data')

    .uk-margin
      div(uk-form-custom="target: true")
        input(id='files', name='files', type='file', multiple, accept='application/json')
        input.uk-input.uk-form-width-medium(type="text", placeholder="Select file", disabled)
      input.uk-button.uk-button-default(type='submit', value='Import')