extends layout

block content
  h1= title
  p Welcome to #{title}

      
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me
  div contact me

  div(id='filters')
    span ITEMS
    span QUESTS
    span NPCS
    span OBJECTS

  div(id='results')
