// Search category header
.category {
    color: $global-primary-background;
    background-color: #FFF;
    padding: 0.5em 0;
    margin: 0;
}


// Search highlight
em {
    color: inherit;
    font-style: normal;
    background: yellow;
}

[data-clipboard-text] {
    cursor: pointer;
}