@import "loader";

// Prevent the scrollbar from shifting the page - https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/
html {
    // margin-left: calc(100vw - 100%);
    overflow-y: scroll;
}


main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.uk-logo,
.uk-logo:hover {
    color: #FFF;
}


.uk-search-navbar {
    background-color: $global-background;
    border-radius: 0.3em;
    padding: 0.5em 0.5em 0.5em 2em;

    .uk-search-icon {
        width: 75px;
    }

    .uk-search-input {
        font-size: 1.2rem;
    }
}


.category {
    background-color: #FFF;
    padding: 0.5em 0;
    margin: 0;
}


[data-clipboard-text] {
    cursor: pointer;
}